<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<img src="assets/imgs/logoo.png" alt="Logo">
<login-form (loginStatus)="login($event)"></login-form>

</ion-content>
