<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <register-form (registerStatus)="register($event)"></register-form>
</ion-content>