<ion-tabs>
    <ion-tab [tabsHideOnSubPages]='true' [root]="inboxRoot" tabTitle="Inbox" tabIcon="mail"></ion-tab>
    <ion-tab [tabsHideOnSubPages]='true' [root]="channelsRoot" tabTitle="Channels" tabIcon="chatboxes"></ion-tab>
    <ion-tab [tabsHideOnSubPages]='true' [root]="profileRoot" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
