<form #loginForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input [(ngModel)]="account.email" type='email' name="email" #email="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
      </ion-item>
      <div padding *ngIf="email.invalid && email.dirty">
        <span class="global__input-error" color="red">Email address is not valid</span>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="account.password" type='password' name="password" #password="ngModel" required pattern="(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{6,}$"></ion-input>
      </ion-item>
      <div padding *ngIf="password.invalid && password.dirty">
        <span class="global__input-error" color="red"> Password must have at least 6 characters and 1 uppercase letter</span>
      </div>

    </ion-card-content>
    <ion-row>
      <div>
        <button color="secondary" ion-button (click)="navigateToRegisterPage() ">Register</button>
        <button ion-button (click)="login()" [disabled]='loginForm.invalid'>Login</button>
      </div>
    </ion-row>
  </ion-card>
</form>