<ion-searchbar [(ngModel)]="query" (ionChange)="searchUser(query)"></ion-searchbar>
<ion-list *ngIf="profileList?.length > 0">
    <ion-item *ngFor="let profile of profileList" (click)="selectProfile(profile)">
        <ion-avatar item-left>
            <img src="assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <h2>{{profile.firstName}} {{profile.lastName}}</h2>
    </ion-item>
</ion-list>