<ion-header>

  <ion-navbar>
    <ion-title>Channels</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAddChannelDialog()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let channel of channelList$ | async" (click)="selectChannel(channel)">
    //{{channel.name}}
  </ion-item>
</ion-list>
</ion-content>
