profile-view {
    .image-container{
        background-color: #54d3bf;
        height: 220px;
        img{
            padding-top: 20px;
            height: 200px;
            max-height: 200px;
        }
    }
    
}
