<ion-header>

  <ion-navbar>
    <ion-title>EditProfile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<edit-profile-form [profile]='profile' (saveProfileResult)="saveProfileResult($event)"></edit-profile-form>
</ion-content>
