<ion-header>

  <ion-navbar>
    <ion-title>{{selectedProfile?.firstName}} {{selectedProfile?.lastName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <chat-message *ngFor="let message of messageList; let i = index" [chatMessage]='message' [chatIndex]='i'></chat-message>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <send-message-box></send-message-box>
  </ion-toolbar>
</ion-footer>