<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="navigateToEditProfilePage()">Edit</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content text-center>
<profile-view (existingProfile)="getExistingProfile($event)"></profile-view>
<button ion-button block (click)="signOut()">Logout</button>
</ion-content>
