<ion-list>
  <ion-item-divider>Online</ion-item-divider>
  <ion-item (click)="openChat(user)" *ngFor="let user of onlineUsers$ | async">
    <ion-avatar item-left>
      <img src="assets/imgs/avatar.png" alt="">
    </ion-avatar>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
  </ion-item>
</ion-list>