<ion-item *ngIf="chatIndex % 2 === 0; else right">
  <ion-avatar item-left>
    <img src="assets/imgs/avatar.png" alt="">
  </ion-avatar>
  <h2>Paul Halliday</h2>
  <p>test</p>
</ion-item>
<ng-template #right>
  <ion-item text-right>
    <ion-avatar item-right>
      <img src="assets/imgs/avatar.png" alt="">
    </ion-avatar>
    <h2>Jhon doe</h2>
    <p>test</p>
  </ion-item>
</ng-template>