<ion-header>

  <ion-navbar>
    <ion-title>SearchUser</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<profile-search (selectedProfile)="openChat($event)"></profile-search>
</ion-content>
