<ion-header>

  <ion-navbar>
    <ion-title>{{channel?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let message of channelMessages$ | async">
    <p>{{message.content}}</p>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <send-message-box (sendMessage)="sendMessage($event)"></send-message-box>
    </ion-toolbar>
  </ion-footer>
