<ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-textarea [(ngModel)]="content" placeholder='Enter message...'></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="send()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
